@font-face {
    font-family: 'Pomicons';
    src: url('../fonts/Pomicons.ttf') format('truetype'), url('../fonts/Pomicons.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

[class*="pi-"] {
   font-family: 'Pomicons';
   font-weight: normal;
   text-transform: none;

   /* Better Font Rendering */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.pi-clean-code:before {
    content: '\e000';
}

.pi-pomodoro-done:before {
    content: '\e001';
}

.pi-pomodoro-estimated:before {
    content: '\e002';
}

.pi-pomodoro-ticking:before {
    content: '\e003';
}

.pi-pomodoro-squashed:before {
    content: '\e004';
}

.pi-short-pause:before {
    content: '\e005';
}

.pi-long-pause:before {
    content: '\e006';
}

.pi-away:before {
    content: '\e007';
}

.pi-pair-programming:before {
    content: '\e008';
}

.pi-internal-interruption:before {
    content: '\e009';
}

.pi-external-interruption:before {
    content: '\e00A';
}
