@font-face {
    font-family: 'Pomicons';
    src: url('../fonts/Pomodoro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pi{
   font-family: 'Pomicons';
   font-size: 20px;
   line-height: 1;
}

.pi-clean-code:before {
    content: '\e000';
}

.pi-pomodoro-done:before {
    content: '\e001';
}

.pi-pomodoro-estimated:before {
    content: '\e002';
}

.pi-pomodoro-ticking:before {
    content: '\e003';
}

.pi-pomodoro-squashed:before {
    content: '\e004';
}

.pi-long-pause:before {
    content: '\e005';
}

.pi-away:before {
    content: '\e006';
}

.pi-pair-programming:before {
    content: '\e007';
}
